/* line 2, ../_sass/birds.scss */
.waterfall {
  height: 400px;
  margin: 100px auto;
  margin-bottom: 50px;
  transform: rotate(40deg);
}

/* line 9, ../_sass/birds.scss */
.piece {
  float: left;
  position: relative;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 10px solid transparent;
  border-top: 50px solid #2E3844;
  margin-left: 33px;
  margin-bottom: 48px;
  margin-top: -21px;
  transform: rotate(-15deg);
}

/* line 23, ../_sass/birds.scss */
.piece:after {
  content: '';
  position: absolute;
  bottom: 49px;
  left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 20px solid #2E3844;
}

/* line 35, ../_sass/birds.scss */
.title {
  font-style: italic;
  float: right;
  margin-bottom: 50px;
}

/* line 41, ../_sass/birds.scss */
.piece:nth-child(2n) {
  transform: rotate(130deg);
  margin-top: -4px;
  margin-left: -8px;
}

/* line 48, ../_sass/birds.scss */
.piece:nth-child(3) {
  margin-left: -11px;
}

/* line 52, ../_sass/birds.scss */
.piece:nth-child(6) {
  margin-left: -11px;
}

/* line 55, ../_sass/birds.scss */
.piece:nth-child(8) {
  margin-left: -158px;
}

/* line 58, ../_sass/birds.scss */
.piece:nth-child(9) {
  margin-left: -10px;
}

/* line 61, ../_sass/birds.scss */
.piece:nth-child(13) {
  margin-left: -40px;
}

/* line 64, ../_sass/birds.scss */
.piece:nth-child(11) {
  margin-left: 60px;
}

/* line 67, ../_sass/birds.scss */
.piece:nth-child(16) {
  margin-left: 15px;
}

/* line 70, ../_sass/birds.scss */
.piece:nth-child(3n) {
  margin-left: 30px;
  margin-right: 20px;
}

/* line 74, ../_sass/birds.scss */
.piece:nth-child(21) {
  margin-left: 10px;
}

/* line 78, ../_sass/birds.scss */
.piece:hover {
  border-top-color: #bdc3c7;
}

/* line 82, ../_sass/birds.scss */
.piece:hover:after {
  border-bottom-color: #bdc3c7;
}
