/* line 2, ../_sass/birds.scss */
.waterfall {
  height: 400px;
  margin: 100px auto;
  transform: rotate(40deg);
}

/* line 8, ../_sass/birds.scss */
.piece {
  float: left;
  position: relative;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 10px solid transparent;
  border-top: 50px solid #2E3844;
  margin-left: 33px;
  margin-bottom: 48px;
  margin-top: -21px;
  transform: rotate(-15deg);
}

/* line 22, ../_sass/birds.scss */
.piece:after {
  content: '';
  position: absolute;
  bottom: 49px;
  left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 20px solid #2E3844;
}

/* line 34, ../_sass/birds.scss */
.piece:nth-child(2n) {
  transform: rotate(130deg);
  margin-top: -4px;
  margin-left: -8px;
}

/* line 41, ../_sass/birds.scss */
.piece:nth-child(3) {
  margin-left: -11px;
}

/* line 45, ../_sass/birds.scss */
.piece:nth-child(6) {
  margin-left: -11px;
}

/* line 48, ../_sass/birds.scss */
.piece:nth-child(8) {
  margin-left: -158px;
}

/* line 51, ../_sass/birds.scss */
.piece:nth-child(9) {
  margin-left: -10px;
}

/* line 54, ../_sass/birds.scss */
.piece:nth-child(13) {
  margin-left: -40px;
}

/* line 57, ../_sass/birds.scss */
.piece:nth-child(11) {
  margin-left: 60px;
}

/* line 60, ../_sass/birds.scss */
.piece:nth-child(16) {
  margin-left: 15px;
}

/* line 63, ../_sass/birds.scss */
.piece:nth-child(3n) {
  margin-left: 30px;
  margin-right: 20px;
}

/* line 67, ../_sass/birds.scss */
.piece:nth-child(21) {
  margin-left: 10px;
}

/* line 71, ../_sass/birds.scss */
.piece:hover {
  border-top-color: #bdc3c7;
}

/* line 75, ../_sass/birds.scss */
.piece:hover:after {
  border-bottom-color: #bdc3c7;
}

/* line 79, ../_sass/birds.scss */
.piece:hover:nth-child(3) ~ .piece:nth-child(16) {
  border-top-color: #3DC5B8;
}

/* line 83, ../_sass/birds.scss */
.piece:hover:nth-child(3) ~ .piece:nth-child(16):after {
  border-bottom-color: #3DC5B8;
}

/* line 87, ../_sass/birds.scss */
.piece:hover:nth-child(16) ~ .piece:nth-child(21) {
  border-top-color: #3DC5B8;
}

/* line 91, ../_sass/birds.scss */
.piece:hover:nth-child(16) ~ .piece:nth-child(21):after {
  border-bottom-color: #3DC5B8;
}

/* line 95, ../_sass/birds.scss */
.piece:hover:nth-child(21) ~ .piece:nth-child(3) {
  border-top-color: #3DC5B8;
}

/* line 99, ../_sass/birds.scss */
.piece:hover:nth-child(21) ~ .piece:nth-child(3):after {
  border-bottom-color: #3DC5B8;
}
