/* line 17, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Variables*/
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
/* line 19, ../_sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 24, ../_sass/screen.scss */
html, body {
  height: 100%;
}

/* line 26, ../_sass/screen.scss */
body {
  background-color: #399e98 !important;
  font-family: 'Open Sans', sans-serif;
  color: #2e3844;
}

/* line 32, ../_sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 35, ../_sass/screen.scss */
h1 {
  margin-bottom: 1em;
}

/* line 36, ../_sass/screen.scss */
p {
  margin: 1em 0;
}

/* line 38, ../_sass/screen.scss */
h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 1.286em;
  font-size: 2.857em;
  margin: 0 0 23px 0;
}

/* line 46, ../_sass/screen.scss */
h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 1.286em;
  line-height: 1.643em;
  margin: 0 0 23px 0;
}

/* line 54, ../_sass/screen.scss */
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.643em;
  margin: 0 0 23px 0;
}

/*
a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }*/
/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
/* line 70, ../_sass/screen.scss */
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

/* line 75, ../_sass/screen.scss */
ul.posts li {
  line-height: 1.75em;
  text-align: center;
}

/* line 80, ../_sass/screen.scss */
ul.posts span {
  color: #2e3844;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
/* line 91, ../_sass/screen.scss */
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

/* line 99, ../_sass/screen.scss */
.site .header a {
  font-weight: bold;
  text-decoration: none;
}

/* line 104, ../_sass/screen.scss */
.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

/* line 109, ../_sass/screen.scss */
.site .header h1.title a {
  color: #a00;
}

/* line 113, ../_sass/screen.scss */
.site .header h1.title a:hover {
  color: #000;
}

/* line 117, ../_sass/screen.scss */
.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

/* line 122, ../_sass/screen.scss */
.site .header a.extra:hover {
  color: #000;
}

/* line 126, ../_sass/screen.scss */
.site .meta {
  color: #aaa;
}

/* line 130, ../_sass/screen.scss */
.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

/* line 138, ../_sass/screen.scss */
.site .footer .contact {
  float: left;
  margin-right: 3em;
}

/* line 143, ../_sass/screen.scss */
.site .footer .contact a {
  color: #8085C1;
}

/* line 147, ../_sass/screen.scss */
.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

/* line 153, ../_sass/screen.scss */
.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
/* line 165, ../_sass/screen.scss */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

/* line 171, ../_sass/screen.scss */
.post ul, .post ol {
  margin-left: 1.35em;
}

/* line 175, ../_sass/screen.scss */
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

/* line 181, ../_sass/screen.scss */
.post pre code {
  border: none;
}

/* terminal */
/* line 186, ../_sass/screen.scss */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

/* line 192, ../_sass/screen.scss */
.post pre.terminal code {
  background-color: #333;
}

/* line 196, ../_sass/screen.scss */
.page-container h1 {
  margin: 0;
}

/* line 200, ../_sass/screen.scss */
.post-date {
  margin-left: 30px;
  font-size: 80%;
}

/* line 206, ../_sass/screen.scss */
.post a, .post a:visited {
  color: #399e98;
}
/* line 210, ../_sass/screen.scss */
.post a:hover {
  color: #97d9d5;
}

/*****************************************************************************/
/*
/* Custom
/*
/*****************************************************************************/
/* Styles: */
/* line 181, ../_sass/screen.scss */
/* line 223, ../_sass/screen.scss */
body {
  overflow-y: scroll;
}

/* line 227, ../_sass/screen.scss */
header {
  top: 0;
  bottom: 0;
  height: 39px;
  background-color: #f3f3f3;
  border-bottom: 3px solid #3dc5b8;
  text-align: center;
}

/* line 239, ../_sass/screen.scss */
.logo img {
  height: 33px;
  width: 33px;
}
/* line 243, ../_sass/screen.scss */
.logo img:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
  -webkit-transition-duration: 0.25s;
}

/* line 195, ../_sass/screen.scss */
/* line 251, ../_sass/screen.scss */
.main, body {
  background-color: #399e98;
}

/* line 255, ../_sass/screen.scss */
.main {
  border-top: 3px solid #3dc5b8;
  height: 94%;
  margin-bottom: -38px;
  background-color: #399e98;
}

/* line 262, ../_sass/screen.scss */
.menu {
  margin-top: 5px;
}

/* line 211, ../_sass/screen.scss */
/* line 267, ../_sass/screen.scss */
ul.menu li {
  color: #2e3844;
  text-decoration: none;
  display: inline;
  margin: 0 15px;
}

/* line 274, ../_sass/screen.scss */
.avatar {
  text-align: center;
}
/* line 277, ../_sass/screen.scss */
.avatar img {
  height: 124px;
  width: 124px;
  border-radius: 61px;
  -webkit-border-radius: 61px;
  -moz-border-radius: 61px;
  border: 2px solid #399e98;
  -webkit-transition-duration: 0.5s;
}
/* line 286, ../_sass/screen.scss */
.avatar img:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  /* IE 9 */
  -moz-transform: scale(1.1);
  /* Firefox */
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  -o-transform: scale(1.1);
  /* Opera */
}

/* line 298, ../_sass/screen.scss */
.page-container {
  background-color: #f7f7f7;
  padding: 22px;
}

/* line 231, ../_sass/screen.scss */
/* line 304, ../_sass/screen.scss */
a, a:visited {
  text-decoration: none;
  color: #2e3844;
}

/* line 309, ../_sass/screen.scss */
a:hover {
  color: #abb7c6;
}

/* line 316, ../_sass/screen.scss */
li.post-header:nth-child(2n+1) {
  background: #389a94;
}

/* line 316, ../_sass/screen.scss */
li.post-header:nth-child(2n+2) {
  background: #348f8a;
}

/* line 321, ../_sass/screen.scss */
ul li span {
  color: #f7f7f7;
}

/* line 325, ../_sass/screen.scss */
li.post-header {
  height: 66px;
  color: #f3f3f3;
}
/* line 329, ../_sass/screen.scss */
li.post-header a, li.post-header a:visited {
  display: block;
  text-decoration: none;
  color: #f3f3f3;
}
/* line 335, ../_sass/screen.scss */
li.post-header .post-header-date {
  color: #d9d9d9;
  font-size: 75%;
  font-style: italic;
}
/* line 341, ../_sass/screen.scss */
li.post-header h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 1.286em;
  line-height: 1.643em;
  margin: 0;
}
/* line 349, ../_sass/screen.scss */
li.post-header:hover {
  background-color: #2e3844;
}

/* line 354, ../_sass/screen.scss */
p.contact-icons-container {
  text-align: center;
}

/* line 358, ../_sass/screen.scss */
.contact-icon {
  margin-right: 10px;
  background-color: #3dc5b8;
  height: 55px;
  border-radius: 27.5px;
}
/* line 365, ../_sass/screen.scss */
.contact-icon:hover {
  background-color: #2e3844;
}
