/* line 17, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Variables*/
/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Global Reset */
/* line 19, ../_sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 24, ../_sass/screen.scss */
html, body {
  height: 100%;
}

/* line 26, ../_sass/screen.scss */
body {
  background: linear-gradient(45deg, #399e98 25%, #3aa19b 25%, #3aa19b 50%, #399e98 50%, #399e98 75%, #3aa19b 75%, #3aa19b);
  background-size: 100px 100px;
  /*background-color: $darker-green !important;*/
  font-family: 'Open Sans', sans-serif;
  color: #2e3844;
}

/* line 34, ../_sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

/* line 37, ../_sass/screen.scss */
h1 {
  margin-bottom: 1em;
}

/* line 38, ../_sass/screen.scss */
p {
  margin: 1em 0;
}

/* line 40, ../_sass/screen.scss */
h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  line-height: 1.286em;
  font-size: 2.857em;
  margin: 0 0 23px 0;
}

/* line 48, ../_sass/screen.scss */
h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 1.286em;
  line-height: 1.643em;
  margin: 0 0 23px 0;
}

/* line 56, ../_sass/screen.scss */
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.643em;
  margin: 0 0 23px 0;
}

/* line 63, ../_sass/screen.scss */
strong, b {
  font-weight: bold;
}

/* line 67, ../_sass/screen.scss */
em {
  font-style: italic;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
/* line 76, ../_sass/screen.scss */
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

/* line 81, ../_sass/screen.scss */
ul.posts li {
  line-height: 1.75em;
  text-align: center;
}

/* line 86, ../_sass/screen.scss */
ul.posts span {
  color: #2e3844;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
/* line 97, ../_sass/screen.scss */
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}
/* line 104, ../_sass/screen.scss */
.site .meta {
  color: #aaa;
}
/* line 109, ../_sass/screen.scss */
.site .header a {
  font-weight: bold;
  text-decoration: none;
}
/* line 114, ../_sass/screen.scss */
.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}
/* line 118, ../_sass/screen.scss */
.site .header h1.title a {
  color: #a00;
}
/* line 122, ../_sass/screen.scss */
.site .header h1.title a:hover {
  color: #000;
}
/* line 126, ../_sass/screen.scss */
.site .header h1.title a.extra {
  color: #aaa;
  margin-left: 1em;
}
/* line 131, ../_sass/screen.scss */
.site .header h1.title a.extra:hover {
  color: #000;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/
/* standard */
/* line 146, ../_sass/screen.scss */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

/* line 152, ../_sass/screen.scss */
.post ul, .post ol {
  margin-left: 1.35em;
}

/* line 156, ../_sass/screen.scss */
.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

/* line 162, ../_sass/screen.scss */
.post pre code {
  border: none;
}

/* terminal */
/* line 167, ../_sass/screen.scss */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

/* line 173, ../_sass/screen.scss */
.post pre.terminal code {
  background-color: #333;
}

/* line 177, ../_sass/screen.scss */
.page-container h1 {
  margin: 0;
  font-family: 'Dosis', sans-serif;
}

/* line 182, ../_sass/screen.scss */
.post-date {
  margin-left: 30px;
  font-size: 80%;
}

/* line 188, ../_sass/screen.scss */
.post a, .post a:visited, .back-to-index a, .back-to-index a:visited, .page-container a, .page-container a:visited {
  color: #399e98;
}
/* line 192, ../_sass/screen.scss */
.post a:hover, .back-to-index a:hover, .page-container a:hover {
  color: #97d9d5;
}

/* line 197, ../_sass/screen.scss */
.back-to-index {
  float: right;
  margin-top: 50px;
}

/* line 202, ../_sass/screen.scss */
.disqus-container {
  clear: both;
  border-top: 2px solid #3dc5b8;
  padding-top: 35px;
}

/*****************************************************************************/
/*
/* Custom
/*
/*****************************************************************************/
/* Styles: */
/* line 181, ../_sass/screen.scss */
/* line 216, ../_sass/screen.scss */
body {
  overflow-y: scroll;
}

/* line 220, ../_sass/screen.scss */
header {
  top: 0;
  bottom: 0;
  height: 66px;
  background-color: #f1f1f1;
  border-bottom: 3px solid #3dc5b8;
  text-align: center;
}
/* line 228, ../_sass/screen.scss */
header .logo img {
  height: 55px;
  width: 55px;
}
/* line 232, ../_sass/screen.scss */
header .logo img:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
  -webkit-transition-duration: 0.25s;
}

/* line 195, ../_sass/screen.scss */
/* line 242, ../_sass/screen.scss */
.main {
  border-top: 3px solid #3dc5b8;
  max-height: 90%;
  margin-bottom: -38px;
}

/* line 248, ../_sass/screen.scss */
.menu {
  margin-top: 10px;
}

/* line 211, ../_sass/screen.scss */
/* line 253, ../_sass/screen.scss */
ul.menu li {
  color: #2e3844;
  text-decoration: none;
  display: inline;
  margin: 0 15px;
}
/* line 259, ../_sass/screen.scss */
ul.menu li a {
  font-size: 110%;
}

/* line 264, ../_sass/screen.scss */
.avatar {
  text-align: center;
}
/* line 267, ../_sass/screen.scss */
.avatar img {
  height: 124px;
  width: 124px;
  border-radius: 61px;
  border: 2px solid #399e98;
  -webkit-border-radius: 61px;
  -moz-border-radius: 61px;
  -webkit-transition-duration: 0.5s;
}
/* line 276, ../_sass/screen.scss */
.avatar img:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  /* IE 9 */
  -moz-transform: scale(1.1);
  /* Firefox */
  -webkit-transform: scale(1.1);
  /* Safari and Chrome */
  -o-transform: scale(1.1);
  /* Opera */
}

/* line 288, ../_sass/screen.scss */
.page-container {
  background-color: #f1f1f1;
  padding: 22px;
  border-bottom: 10px solid #399e98;
}

/* line 231, ../_sass/screen.scss */
/* line 295, ../_sass/screen.scss */
a, a:visited {
  text-decoration: none;
  color: #2e3844;
}

/* line 300, ../_sass/screen.scss */
a:hover {
  color: #abb7c6;
}

/* line 307, ../_sass/screen.scss */
li.post-header:nth-child(2n+1) {
  background: #348f8a;
}

/* line 307, ../_sass/screen.scss */
li.post-header:nth-child(2n+2) {
  background: #30847f;
}

/* line 312, ../_sass/screen.scss */
ul li span {
  color: #f7f7f7;
}

/* line 316, ../_sass/screen.scss */
li.post-header {
  height: 66px;
  color: #f1f1f1;
}
/* line 320, ../_sass/screen.scss */
li.post-header a, li.post-header a:visited {
  display: block;
  text-decoration: none;
  color: #f1f1f1;
}
/* line 326, ../_sass/screen.scss */
li.post-header .post-header-date {
  color: #d7d7d7;
  font-size: 75%;
  font-style: italic;
}
/* line 332, ../_sass/screen.scss */
li.post-header h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  font-size: 1.286em;
  line-height: 1.643em;
  margin: 0;
}
/* line 340, ../_sass/screen.scss */
li.post-header:hover {
  background-color: #2e3844;
}

/* line 345, ../_sass/screen.scss */
p.contact-icons-container {
  text-align: center;
}

/* line 349, ../_sass/screen.scss */
.contact-icon {
  margin-right: 10px;
  background-color: #3dc5b8;
  height: 55px;
  border-radius: 27.5px;
}
/* line 356, ../_sass/screen.scss */
.contact-icon:hover {
  background-color: #2e3844;
}

/* line 361, ../_sass/screen.scss */
.image-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 367, ../_sass/screen.scss */
.image-reduced {
  height: 400px;
  width: auto;
}

/* line 372, ../_sass/screen.scss */
figure figcaption {
  text-align: center;
  font-style: italic;
}
