@import "compass/reset";

/* Variables*/

$main-green: #3DC5B8;
$darker-green: #399E98;
$darkest: #2E3844;
$light-text-color: #F7F7F7;
$light-header-background: #f1f1f1;
$text-highlights: #d14233;

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: $darker-green !important;
  font-family: 'Open Sans', sans-serif;
  color: $darkest;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    line-height: 1.286em;
    font-size: 2.857em;
    margin: 0 0 23px 0;
    }

h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 1.286em;
    line-height: 1.643em;
    margin: 0 0 23px 0;
    }

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.643em;
    margin: 0 0 23px 0;
    }

strong { 
  font-weight: bold;
}

em {
  font-style: italic;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
  text-align: center;
}

ul.posts span {
  color: $darkest;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;

  .meta {
    color: #aaa;
  }
  
  .header { 
    a {
      font-weight: bold;
      text-decoration: none;
    }

    h1.title {
      display: inline-block;
      margin-bottom: 2em;
      
      a {
        color: #a00;
      }

      a:hover {
        color: #000;
      }

      a.extra {
        color: #aaa;
        margin-left: 1em;
      }

      a.extra:hover {
        color: #000;
      }
    }
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */

.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.page-container h1{
  margin: 0;
}

.post-date {
  margin-left: 30px;
  font-size: 80%;
}

.post, .back-to-index {
  a, a:visited {
    color: $darker-green;
  }

  a:hover {
    color: lighten($darker-green, 30);
  }
}

.back-to-index {
  float: right;
}

/*****************************************************************************/
/*
/* Custom
/*
/*****************************************************************************/

/* Styles: */
/* line 181, ../_sass/screen.scss */
body {
  overflow-y: scroll;
}

header {
  top: 0;
  bottom: 0;
  height: 66px;
  background-color: $light-header-background; 
  border-bottom: 3px solid $main-green;
  text-align: center;

  .logo img {
    height: 55px;
    width: 55px;

    &:hover {
      opacity:0.4;
      filter:alpha(opacity=40); /* For IE8 and earlier */
      -webkit-transition-duration: 0.25s;
    }
  }
} 

/* line 195, ../_sass/screen.scss */
.main, body {
   background-color: $darker-green;
 }

.main {
  border-top: 3px solid $main-green;
  max-height: 90%;
  margin-bottom: -38px; 
  background-color: $darker-green;
}

.menu {
  margin-top: 10px;
}

/* line 211, ../_sass/screen.scss */
ul.menu li {
  color: $darkest;
  text-decoration: none;  
  display: inline;
  margin: 0 15px;

  a{
    font-size: 110%;
  }
}

.avatar {
  text-align: center;

  img {
    height: 124px;
    width: 124px;
    border-radius: 61px;
    -webkit-border-radius: 61px;
    -moz-border-radius: 61px;
    border: 2px solid $darker-green;
    -webkit-transition-duration: 0.5s;  

    &:hover {
      $scale: 1.1;

      transform:scale($scale);
      -ms-transform:scale($scale); /* IE 9 */
      -moz-transform:scale($scale); /* Firefox */
      -webkit-transform:scale($scale); /* Safari and Chrome */
      -o-transform:scale($scale); /* Opera */
    }
  }
}

.page-container {
  background-color: $light-header-background;
  padding: 22px;
  border-bottom: 10px solid $darker-green;
}

/* line 231, ../_sass/screen.scss */
a, a:visited {
  text-decoration: none;
  color: $darkest;
}

a:hover {
  color: lighten($darkest, 50);
}

$post-header-colors: darken($darker-green, 1), darken($darker-green, 4);

@for $i from 1 through length($post-header-colors) {
    li.post-header:nth-child(#{length($post-header-colors)}n+#{$i}) {
        background: nth($post-header-colors, $i)
    }
}

ul li span {
    color: $light-text-color;
}

li.post-header {
  height: 66px;
  color: $light-header-background;

  a, a:visited {
    display: block;
    text-decoration: none;
    color: $light-header-background;
  }

  .post-header-date {
    color: darken($light-header-background, 10);
    font-size: 75%;
    font-style: italic;
  }

  h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 1.286em;
    line-height: 1.643em;
    margin: 0;
  }

  &:hover {
    background-color: $darkest;
  }
}

p.contact-icons-container {
  text-align: center;
}

.contact-icon {
  margin-right: 10px;
  $icons-height: 55px;
  background-color: $main-green;
  height: $icons-height;
  border-radius: $icons-height/2;

  &:hover {
    background-color: $darkest;
  }
}