<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- SCSS, baby -->
        <link rel="stylesheet" href="/css/screen.css">

    </head>
    <body>
       <header class="header">
            <nav>
              <ul class="menu">
                <li><a href="/">Gabriel Albo</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
              </ul>
            </nav>
            <div class="clearfix" />
        </header>

        <div class="main">
          {{ content }}
        </div>
    </body>
</html>
