<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <base target='_blank'/>
        <link href="{{ site.baseurl }}/assets/images/favicon.ico" rel="icon" type="image/x-icon" />

        <link href="http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />

        <script src="{{ site.baseurl }}/assets/javascript/analytics.js"></script>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

        <!-- SCSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">

        <!-- Foundation -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/foundation.css">

    </head>
    <body>
       <header>
            <div class="row">
                <div class="large-6 medium-6 small-6 columns">
                    <h1 class="logo">
                        <a href="{{ site.baseurl }}/" target="_self"
                        {% if page.url == "/index.html" %}
                        class="selected-item"
                        {% endif %}
                         >GABRIEL ALBO</a>
                        <span class="job-title"> // User Experience Designer</span>
                    </h1>
                </div>
                <div class="large-6 medium-6 small-6 columns">
                    <ul class="menu">
                        <li><a href="{{ site.baseurl }}/blog" target="_self"
                        {% if page.url == "/blog/index.html" %}
                        class="selected-item"
                        {% endif %}
                         >BLOG</a></li>
                        <li><a href="{{ site.baseurl }}/portfolio" target="_self"
                        {% if page.url == "/portfolio/index.html" %}
                        class="selected-item"
                        {% endif %}
                         >PORTFOLIO</a></li>
                        <li class=""><a href="{{ site.baseurl }}/contact" target="_self"
                        {% if page.url == "/contact/index.html" %}
                        class="selected-item"
                        {% endif %}
                        >CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="main">
            {{ content }}
        </div>
    </body>
</html>
