<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta property="og:image" content="http://www.gabrielalbo.com/assets/images/avatar-polygon-round.svg" />

        <base target='_blank'/>
        <link href="{{ site.baseurl }}/assets/images/favicon.ico" rel="icon" type="image/x-icon" />

        <link href="http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />

        <script src="{{ site.baseurl }}/assets/javascript/analytics.js"></script>

        <!-- Cloudflare Web Analytics -->
        <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "659a5fb1ff7a4722b01ec7d1caa6ca45"}'></script>
        <!-- End Cloudflare Web Analytics -->

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

        <!-- SCSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">

        <!-- Foundation -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/foundation.css">

    </head>
    <body>
       <header>
            <div class="row">
                <div class="large-6 medium-6 small-4 columns">
                    <h1 class="logo">
                        <span>
                            <a href="{{ site.baseurl }}/" target="_self">
                                <img class="logo-fill" src="{{ site.baseurl }}/assets/images/logo_albo_home.svg" alt="Gabriel Albo">
                             </a>
                         </span>
                    </h1>
                </div>
                <div class="large-6 medium-6 small-8 columns">
                    <ul class="menu">
                        <li><a href="{{ site.baseurl }}/" target="_self"
                        {% if page.url == "/" or page.current-page == "index.html" %}
                        class="selected-item"
                        {% endif %}
                         >ABOUT</a></li>
                         <!-- <li><a href="{{ site.baseurl }}/blog" target="_self"
                        {% if page.url == "/blog/" or page.current-page == "blog-item" %}
                        class="selected-item"
                        {% endif %}
                         >BLOG</a></li> -->
                        <li><a href="{{ site.baseurl }}/portfolio/" target="_self"
                        {% if page.url == "/portfolio/" or page.current-page == "portfolio-item" %}
                        class="selected-item"
                        {% endif %}
                         >PORTFOLIO</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="main">
            {{ content }}
        </div>
    </body>
</html>
